<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HPCare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/style.css" rel='stylesheet' type='text/css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/modernizr.custom.js"></script>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="~/Scripts/metisMenu.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <link href="~/Content/custom.css" rel="stylesheet">

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <!--left-fixed -navigation-->
        <div class="sidebar" role="navigation">
            <div class="navbar-collapse">
                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right dev-page-sidebar mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" id="cbp-spmenu-s1">
                    <div class="scrollbar scrollbar1">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="index.html"><i class="fa fa-home nav_icon"></i>Dashboard Admin</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-users nav_icon"></i>Users<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="@Url.Action("Register", "Account")" class="elements"><i class="fa fa-user-plus nav_icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;Add User</a>
                                    </li>
                                    <li>
                                        <a href="#" class="elements"><i class="fa fa-user-times nav_icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;Remove Users</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-heartbeat nav_icon"></i>MCDT<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="#" class="elements">Prescription</a>
                                    </li>
                                    <li>
                                        <a href="#" class="elements">Results</a>
                                    </li>
                                    <li>
                                        <a href="#" class="elements">Create Treatment Plan</a>
                                    </li>
                                    <li>
                                        <a href="#" class="elements">Treatment Plan</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-building-o nav_icon"></i>&nbsp;Visits<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="#">First Visit</a>
                                    </li>
                                    <li>
                                        <a href="#">Subsequente Visit</a>
                                    </li>
                                    <li>
                                        <a href="#">Home Visit</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="elements"><i class="fa fa-stethoscope nav_icon"></i>&nbsp;Diagnosis</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-medkit nav_icon"></i>Treatment<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="#">Medication</a>
                                    </li>
                                    <li>
                                        <a href="#">Therapy</a>
                                    </li>
                                    <li>
                                        <a href="#">Hospital Admissions</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="elements"><i class="fa fa-file-text nav_icon"></i>Observations</a>
                            </li>
                            <li>
                                <a href="#" class="elements"><i class="fa fa-bar-chart nav_icon"></i>Statistics</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //sidebar-collapse -->
                </nav>
            </div>
        </div>
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
                <!--logo -->
                <div class="logo">
                    <a href="index.html">
                        <ul>
                            @*<li><img src="~/Images/logo1.png" alt="" /></li>*@
                            <li><h1>HPCare</h1></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </a>
                </div>
                <!--//logo-->
                <div class="header-right header-right-grid">
                    <div class="profile_details_left">
                        <!--notifications of menu start -->
                        <ul class="nofitications-dropdown">
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3>You have 3 new messages</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user_img"><img src="~/Images/1.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet</p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li class="odd">
                                        <a href="#">
                                            <div class="user_img"><img src="~/Images/2.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user_img"><img src="~/Images/3.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#">See all messages</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3>You have 3 new notification</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user_img"><img src="~/Images/2.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet</p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li class="odd">
                                        <a href="#">
                                            <div class="user_img"><img src="~/Images/1.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user_img"><img src="~/Images/3.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#">See all notifications</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">15</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3>You have 8 pending task</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar yellow" style="width:40%;"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar green" style="width:90%;"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar red" style="width: 33%;"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar  blue" style="width: 80%;"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#">See all pending tasks</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </div>


                <div class="clearfix"> </div>
            </div>
            <!--search-box-->
            <div class="search-box">
                <form class="input">
                    <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search" id="input-31" />
                </form>
            </div>
            <!--//end-search-box-->
            <div class="header-right">

                <!--notification menu end -->
                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="~/Images/user.png" alt=""> </span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                                <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>
                                <li> <a href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out"></i> Logout</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--toggle button start-->
                <button id="showLeftPush"><i class="fa fa-bars"></i></button>
                <!--toggle button end-->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //header-ends -->
        <!-- main content start-->

        @RenderBody()

        <!--footer-->
        <div class="dev-page-footer dev-page-footer-fixed">
            <!-- container -->
            <div class="container">
                <div class="copyright">
                    <p>© 2016 HPCare</p>
                </div>

            </div>
            <!-- //container -->
        </div>
    </div>
    <!--//footer-->
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!--//footer-->
    </div>
    <!-- Classie -->
    <script src="~/Scripts/classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };


        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/Scripts/dev-loaders.js"></script>
    <script type="text/javascript" src="~/Scripts/dev-layout-default.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.marquee.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- candlestick -->
    <script type="text/javascript" src="~/Scripts/jquery.jqcandlestick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jqcandlestick.css" />
    <!-- //candlestick -->
    <!--max-plugin-->
    <script type="text/javascript" src="~/Scripts/plugins.js"></script>
    <!--//max-plugin-->
    <!--scrolling js-->
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <!--//scrolling js-->
    <!-- real-time-updates -->
    <script language="javascript" type="text/javascript" src="~/Scripts/jquery.flot.js"></script>

    <!-- //real-time-updates -->
    <!-- error-graph -->
    <script language="javascript" type="text/javascript" src="~/Scripts/jquery.flot.errorbars.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jquery.flot.navigate.js"></script>

    <!-- Skills-graph -->
    <script src="~/Scripts/Chart.Core.js"></script>
    <script src="~/Scripts/Chart.Doughnut.js"></script>

    <!-- //Skills-graph -->
    <!-- status -->
    <script src="~/Scripts/jquery.fn.gantt.js"></script>

</body>
</html>