@model DataLayer.Entities.MCDT.RBCS
<div class="modal-body">
    @using(Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>RBCS</h4>
            <hr />
            @Html.ValidationSummary(true, "", new {
           @class = "text-danger"
       })
            <div class="form-group">
                @Html.LabelFor(model => model.MCDT_units, htmlAttributes: new {
               @class = "control-label col-md-2"
           })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.MCDT_units, htmlAttributes: new {
                   @class = "form-control"
               })
                    @Html.ValidationMessageFor(model => model.MCDT_units, "", new {
                   @class = "text-danger"
               })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MCDT_type, htmlAttributes: new {
               @class = "control-label col-md-2"
           })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.MCDT_type, htmlAttributes: new {
                   @class = "form-control"
               })
                    @Html.ValidationMessageFor(model => model.MCDT_type, "", new {
                   @class = "text-danger"
               })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MCDT_date, htmlAttributes: new {
               @class = "control-label col-md-2"
           })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MCDT_date, new {
                   htmlAttributes = new {
                       @class = "form-control"
                   }
               })
                    @Html.ValidationMessageFor(model => model.MCDT_date, "", new {
                   @class = "text-danger"
               })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LabExams_id, htmlAttributes: new {
               @class = "control-label col-md-2"
           })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LabExams_id, new {
                   htmlAttributes = new {
                       @class = "form-control"
                   }
               })
                    @Html.ValidationMessageFor(model => model.LabExams_id, "", new {
                   @class = "text-danger"
               })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LabExam_data_in, htmlAttributes: new {
               @class = "control-label col-md-2"
           })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LabExam_data_in, new {
                   htmlAttributes = new {
                       @class = "form-control"
                   }
               })
                    @Html.ValidationMessageFor(model => model.LabExam_data_in, "", new {
                   @class = "text-danger"
               })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LabExam_date_out, htmlAttributes: new {
               @class = "control-label col-md-2"
           })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LabExam_date_out, new {
                   htmlAttributes = new {
                       @class = "form-control"
                   }
               })
                    @Html.ValidationMessageFor(model => model.LabExam_date_out, "", new {
                   @class = "text-danger"
               })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HB, htmlAttributes: new {
               @class = "control-label col-md-2"
           })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HB, new {
                   htmlAttributes = new {
                       @class = "form-control"
                   }
               })
                    @Html.ValidationMessageFor(model => model.HB, "", new {
                   @class = "text-danger"
               })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HCT, htmlAttributes: new {
               @class = "control-label col-md-2"
           })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HCT, new {
                   htmlAttributes = new {
                       @class = "form-control"
                   }
               })
                    @Html.ValidationMessageFor(model => model.HCT, "", new {
                   @class = "text-danger"
               })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
<script type="text/javascript">
    //http://code.davidferguson.me.uk/post/47540738095/mvc-client-validation-after-partialview-loaded-via-ajax
    $(function () {
        //allow validation framework to parse DOM
        $.validator.unobtrusive.parse('form');
    });
</script>
<script src="~/Scripts_Ajax/jquery.validate.unobtrusive.js"></script>