@model DataLayer.Entities.PatientEntities.Intervention

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Clinic.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Intervention</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Intervention_start_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intervention_start_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intervention_end_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intervention_end_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intervention_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intervention_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Intervention_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
